version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn dependency:go-offline
  
  linter:
    docker:
      - image: checkstyle/maven-builder-image
    
    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkstyle:check

      # run tests!
      # - run: mvn integration-test

workflows:
  version: 2
  workflow:
    jobs:
    - build
    - linter